<nav class="navbar navbar-light navbar-expand-md shadow navigation-clean">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="https://i.pinimg.com/564x/d3/12/3a/d3123af76827f9ffa6628fbe3a41f966.jpg" style="width: 50px;"><span style="color: black">Foodis</span><span style="color: var(--bs-red);">.com</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                
                <li class="nav-item"><a class="nav-link" href="/"><strong><span style="color: black">Home</span> </strong></a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#"><strong><span style="color: black">Our Menu</span> </strong></a>
                
                
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Kota</a>
                        <a class="dropdown-item" href="#">Fries</a>
                        <a class="dropdown-item" href="#">Pies</a>
                        <a class="dropdown-item" href="#">Drinks</a>
                        <a class="dropdown-item" href="#">All</a>
                    </div>
                
                
                
                
                </li> -->


                <li style="margin-top: -0.1rem;" class="nav-item dropdown">
                    <a class="nav-link" style="color: black;" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                   <strong>Our Menu </strong>  
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Kota</a>
                        <a class="dropdown-item" href="#">Fries</a>
                        <a class="dropdown-item" href="#">Pies</a>
                        <a class="dropdown-item" href="#">Drinks</a>
                        <a class="dropdown-item" href="#">All</a>
                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" href="#"><strong><span style="color: black">Contact Us</span> </strong></a></li>
                <li class="nav-item"><a class="nav-link" href="/register"><strong><span style="color: black">Sign Up</span> </strong></a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#"><strong>Our menu</strong></a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><a class="nav-link" href="#"><strong><span style="color: black">Our menu</span></strong></a></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Kota</a>
                        <a class="dropdown-item" href="#">Fries</a>
                        <a class="dropdown-item" href="#">Pies</a>
                        <a class="dropdown-item" href="#">Drinks</a>
                        <a class="dropdown-item" href="#">All</a>
                    </div>
                </li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fa fa-gear"></i>&nbsp;</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">Profile</a><a class="dropdown-item" href="#">Location</a><a class="dropdown-item" href="#">Sign Out</a></div>
                </li> -->
            </ul>
           
        </div>
    </div>
</nav>
