<div class="text-center">
    <!-- <h1>Main Menu</h1> -->
</div>
    <div class="text-center">
        <h6>Feed Your Cravings</h6>
    </div>

    <div class="container-fluid py-5">
        <div class="row">
          <div class="col-lg-3 col-sm-12 d-flex justify-content-center mb-3" *ngFor="let res of results">
            
            <div class="card shadow-lg">
                <img src="{{res.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{res.name}}</h5>
                    <p><small><strong style="color:rgb(215, 39, 39);">Price: R {{res.price}}.00</strong></small></p>
                    <p><small>{{res.description}}</small></p>
                    <p><small>{{res.category}}</small></p>
                    <p><small>Option: {{res.option}}</small></p>
                    <p><small>Order Status: {{res.booking_status}}</small></p>
                    
                    <div>
                        <a href="/menu" class="btn btn-primary">Add To Order</a>
                    </div>
                    <div>
                        <a href="/profile" class="btn btn-primary mt-2">Complete Order</a>
                    </div>
                 
                </div>
            </div>
            <!-- <div class="card shadow-lg">
                
                <div class="card-body">
                  <h5 class="card-title">{{res.option}}</h5>
                    <p><small><strong style="color:rgb(215, 39, 39);">R {{res.price}}.00</strong></small></p>
                    <p><small>{{res.category}}</small></p>
                    <p><small>{{res.description}}</small></p>
                  <a href="/booking" class="btn btn-primary">Place Order</a>
                </div>
            </div> -->

          </div>

        </div>  
  
      
    </div>