.card-img-top{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.col{
     font-size: medium;
     font-style: color(--main-bg);
}
.btn{
    background-color: var(--main-bg);
    border-color: var(--main-bg);
}

.row{
    justify-content: center;
}


